
*.egg-info
*.iml
*.pyc
.eggs
.idea
.ipynb_checkpoints
.mypy_cache
.venv
__pycache__
account.json
build/
coinbase-train*.tgz
dist/
gitlab_credentials.ini
helm/*/charts
helm/*/requirements.lock
python/environment_pb2*
python/events_pb2*
python/fakebase_pb2*
python/scalapb
scala/coinbaseml/project/project
scala/coinbaseml/project/target
scala/coinbaseml/target
scala/project/target
scala/target
scrap*
secrets.env
venv/
