__pycache__
*.pyc
*.egg-info
*.jar
.venv
scrap*
secrets.env
venv/
gitlab_credentials.ini
.ipynb_checkpoints
helm/*/charts
helm/*/requirements.lock
coinbase-train*.tgz
.eggs
.mypy_cache
build/
dist/
account.json
*.iml
scala/target
scala/project/target
scala/coinbaseml/target
scala/coinbaseml/project/target
scala/coinbaseml/project/project
.idea
/scalapb
/fakebase_pb2*
/environment_pb2*
/events_pb2*
