__pycache__/
*.pyc
*.egg-info
.venv
scrap*
secrets.env
venv/
gitlab_credentials.ini
.ipynb_checkpoints
helm/*/charts
helm/*/requirements.lock
coinbase-train*.tgz
.eggs
.mypy_cache
build/
dist/
account.json
*.iml